*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav,ul,li{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
li{margin: 10px;
}
img{
    border-radius: 100px;
}
nav{
    background-color: white;
    padding: 10px;
    margin: 12px;
    border-radius: 10px;
}
li a{
    color: black;
    text-decoration: none;
}
body{background-image: url(/img/Untitled\ 2.png);}
